@media only screen and (max-width:1160px) {
    .sec3-menu .row {
        display: inline-block;
    }

    .sec3-menu .row .col {
        width: 100%;
    }

    .sec3-li-content {
        width: 100%;

    }
}

@media only screen and (max-width:992px) {}

@media only screen and (max-width:768px) {
    .ul-nav {
        display: none;
    }

    .icons .search {
        display: none;
    }

    .icons .bar {
        display: block;
    }

    .header-content {
        width: 100%;
    }

    .make .row {
        display: block;
    }

    .make .row .col {
        width: 70%;
        margin: 10px auto;
        box-shadow: 0 0 5px 5px gray;
    }
}

@media only screen and (max-width:576px) {
    #sec1 .row {
        display: block;
    }

    #sec1 .row .col-6 {
        width: 100%;
    }

    .sec1-img {
        width: 100%;
    }

    #sec1 .row .col-4 {
        width: 100%;
        padding: 20px 0px;
    }

    .sec1-h1 {
        width: 100%;
        text-align: center;
    }

    .sec1-btn {
        margin: 0 auto;
    }

    .sec1-p {
        width: 100%;
        text-align: center;
        margin: 10px 0px;
    }

    .make .row .col {
        width: 90%;

    }

}

 #foot .row{
        flex-direction: column;
    } 
    #foot .row .col{
        width: 100%;
        margin: 20px 0px;
} 
